In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.cluster import KMeans
from yellowbrick.cluster import KElbowVisualizer, SilhouetteVisualizer
from sklearn.metrics import silhouette_score
from sklearn.decomposition import PCA
from sklearn.preprocessing import Normalizer
from sklearn.model_selection import train_test_split

In [2]:
dados = pd.read_csv('./clientes_mes_ano.csv')

D:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (6,10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
dados.head()

,NROEMPRESA,COD_CLIENTE,TIPO_PESSOA,DATA_ULTIMA_COMPRA,DIAS_DESDE_ULTIMA_COMPRA,NUMERO_VISITAS,VALOR_TOTAL,DIA_SEMANA,QUANTIDADE_PRODUTOS,SEGMENTO,CGO,MES_ANO
0,1,1,J,27/07/24,9,3,365,Domingo,37,1,800,9/2023
1,2,1,J,27/07/24,9,2,122,Domingo,6,1,800,9/2023
2,5,1,J,27/07/24,9,10,1607,Domingo,154,1,800,9/2023
3,1,1,J,27/07/24,9,1,120,Quarta,2,1,800,9/2023
4,5,1,J,27/07/24,9,7,500,Quarta,43,1,800,9/2023

In [ ]:
#Removendo linhas indesejáveis para Cgo
cgos_remover = dados.query('CGO  not in ((800, 810, 835, 843, 844))').index
len(cgos_remover)

In [ ]:
dados.drop(cgos_remover, axis=0, inplace=True)

## Verificando valores ausentes e inválidos

In [ ]:
dados.isna().sum()

In [ ]:
#Verificando se na coluna VALOR_TOTAL possui valores não numéricos
mask = pd.to_numeric(dados['VALOR_TOTAL'], errors='coerce').isnull()
mask

In [ ]:
#Removendo os NaN
dados = dados.dropna(subset=['VALOR_TOTAL'])

In [ ]:
#Verificar se ainda há valores não númericos na coluna
print(dados['VALOR_TOTAL'].apply(lambda x : isinstance(x,(int, float))).all())

In [ ]:
nao_numerico = dados.query('VALOR_TOTAL == "Quinta"')
nao_numerico

In [ ]:
dados.dtypes

In [ ]:
dados['VALOR_TOTAL'] = dados['VALOR_TOTAL'].astype('int64')
dados['COD_CLIENTE'] = dados['COD_CLIENTE'].astype('string')

In [ ]:
dados.dtypes

In [ ]:
col_num = dados.select_dtypes(include=['int64', 'float64'])
col_var = dados.select_dtypes(exclude=['int64', 'float64'])

In [ ]:
col_num

In [ ]:
col_var

# Preparação e limpeza dos dados

In [ ]:
#df = dados.copy()

In [ ]:
#df.isnull().sum()

## Remoção de Outliers

In [ ]:
"""# Seleção de características
X = df[['DIAS_DESDE_ULTIMA_COMPRA', 'VALOR_TOTAL']]

#Normalizando
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

#Instanciando o modelo
kmeans = KMeans()

#Criando o visualizado
visualizador = KElbowVisualizer(kmeans, k=(2,15))
visualizador.fit(X_scaled)

#Mostrando a visualização
visualizador.show()
"""

In [ ]:
#Treinamento do modelo de clusterização
#X_train, X_test = train_test_split(X_scaled, test_size=0.2, random_state=42)
#kmeans = KMeans(n_clusters=1000, random_state=42)
#kmeans.fit(X_train)

In [ ]:
#Avaliação do modelo
#score = kmeans.score(X_test)
#score

In [ ]:
#silhueta = silhouette_score(X_scaled, kmeans.labels_)
#print(silhueta)

In [ ]:
#from sklearn.metrics import silhouette_score, davies_bouldin_score, calinski_harabasz_score

# Calcule o índice de Davies-Bouldin
#db_score = davies_bouldin_score(dados_normalizados, kmeans.labels_)
#print("Índice de Davies-Bouldin:", db_score)

# Calcule o índice de Calinski-Harabasz
#ch_score = calinski_harabasz_score(dados_normalizados, kmeans.labels_)
#print("Índice de Calinski-Harabasz:", ch_score)

### Exportando como .csv

In [ ]:
df2 = df.copy()

In [ ]:
df2 = df2.reset_index(drop=True)

In [ ]:
df2.to_csv('clientes_normalizados_mes_ano.csv')