In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import seaborn as sns
#from sklearn.preprocessing import MinMaxScaler, StandardScaler
#from sklearn.cluster import KMeans
#from yellowbrick.cluster import KElbowVisualizer, SilhouetteVisualizer
#from sklearn.metrics import silhouette_score
#from sklearn.decomposition import PCA
#from sklearn.preprocessing import Normalizer
#from sklearn.model_selection import train_test_split

In [2]:
dados = pd.read_csv('./CSV/clientes_jan2020_dez2023.csv', sep=';')

In [3]:
dados.head()

,NROEMPRESA,COD_CLIENTE,TIPO_PESSOA,DATA_ULTIMA_COMPRA,NUMERO_VISITAS,VALOR_TOTAL,QUANTIDADE_PRODUTOS,SEGMENTO,CGO,MES_ANO
0,3,13434,F,06/08/2024,1,51,5,1,800,1/2020
1,3,3203,F,30/01/2022,16,870,148,1,800,2/2020
2,2,2590,F,08/08/2024,2,100,4,1,800,2/2020
3,3,22203,F,07/08/2024,12,445,80,1,800,3/2020
4,3,9377,F,07/08/2024,2,110,10,1,800,5/2020

In [4]:
#dados.drop('SEXO', axis=1,inplace=True)
#dados.drop('IDADE', axis=1,inplace=True)

In [5]:
#dados.head()

## Verificando valores ausentes e inválidos

In [8]:
# Identificar os índices dos clientes que você deseja remover
clientes_remover = dados.query('COD_CLIENTE in (1, 2, 3, 4, 5, 13285, 13290, 48963, 13293, 13295, 13297)').index
cgos_a_manter = dados.query('CGO  not in (800, 810, 835, 843, 844)').index

# Verificar o tamanho da lista de índices a serem removidos
print("Tamanho antes da remoção:", len(clientes_remover))
print("Tamanho CGO antes da remoção:", len(cgos_a_manter))

# Remover as linhas correspondentes aos clientes especificados
dados.drop(clientes_remover, axis=0, inplace=True)
dados.drop(cgos_a_manter, axis=0, inplace=True)

# Verificar o tamanho da lista de índices após a remoção
print("Tamanho após a remoção:", len(clientes_remover))
print("Tamanho CGO após a remoção:", len(cgos_a_manter))

# Verificar o DataFrame após a remoção
print(dados)

Tamanho antes da remoção: 0
Tamanho CGO antes da remoção: 0
Tamanho após a remoção: 0
Tamanho CGO após a remoção: 0
         NROEMPRESA  COD_CLIENTE TIPO_PESSOA DATA_ULTIMA_COMPRA  \
0                 3        13434           F         06/08/2024
1                 3         3203           F         30/01/2022
2                 2         2590           F         08/08/2024
3                 3        22203           F         07/08/2024
4                 3         9377           F         07/08/2024
...             ...          ...         ...                ...
1383393           1         3441           F         25/05/2024
1383394           1         6579           F         02/08/2024
1383395           1         4179           F         07/08/2024
1383396           3        18299           F         08/08/2024
1383397           1         7551           F         03/04/2021

         NUMERO_VISITAS  VALOR_TOTAL  QUANTIDADE_PRODUTOS  SEGMENTO  CGO  \
0                     1           51                    5         1  800
1                    16          870                  148         1  800
2                     2          100                    4         1  800
3                    12          445                   80         1  800
4                     2          110                   10         1  800
...                 ...          ...                  ...       ...  ...
1383393               1          215                   14         1  800
1383394               1          184                    6         1  800
1383395               1          110                    4         2  800
1383396               1           16                    3         1  800
1383397               1          113                   14         1  800

         MES_ANO
0         1/2020
1         2/2020
2         2/2020
3         3/2020
4         5/2020
...          ...
1383393   3/2023
1383394   2/2023
1383395  12/2023
1383396   6/2023
1383397   9/2020

[1373043 rows x 10 columns]

In [9]:
dados.head()

,NROEMPRESA,COD_CLIENTE,TIPO_PESSOA,DATA_ULTIMA_COMPRA,NUMERO_VISITAS,VALOR_TOTAL,QUANTIDADE_PRODUTOS,SEGMENTO,CGO,MES_ANO
0,3,13434,F,06/08/2024,1,51,5,1,800,1/2020
1,3,3203,F,30/01/2022,16,870,148,1,800,2/2020
2,2,2590,F,08/08/2024,2,100,4,1,800,2/2020
3,3,22203,F,07/08/2024,12,445,80,1,800,3/2020
4,3,9377,F,07/08/2024,2,110,10,1,800,5/2020

In [10]:
dados.dtypes

NROEMPRESA              int64
COD_CLIENTE             int64
TIPO_PESSOA            object
DATA_ULTIMA_COMPRA     object
NUMERO_VISITAS          int64
VALOR_TOTAL             int64
QUANTIDADE_PRODUTOS     int64
SEGMENTO                int64
CGO                     int64
MES_ANO                object
dtype: object

In [11]:
#Verificando valores inválidos
dados.isna().sum()

NROEMPRESA              0
COD_CLIENTE             0
TIPO_PESSOA            28
DATA_ULTIMA_COMPRA      0
NUMERO_VISITAS          0
VALOR_TOTAL             0
QUANTIDADE_PRODUTOS     0
SEGMENTO                0
CGO                     0
MES_ANO                 0
dtype: int64

In [12]:
dados_nulos = dados[dados['TIPO_PESSOA'].isna()].index
dados_nulos

Index([   9519,  149544,  151479,  187745,  238456,  525057,  595601,  605170,
        653794,  662356,  794933,  856816,  912891,  922783,  992003, 1014049,
       1022264, 1064241, 1091357, 1106120, 1132468, 1139112, 1154790, 1182348,
       1187976, 1230862, 1312838, 1370518],
      dtype='int64')

In [13]:
dados.drop(dados_nulos, axis=0, inplace=True)

In [16]:
#Verificando se na coluna VALOR_TOTAL possui valores não numéricos
mask = pd.to_numeric(dados['VALOR_TOTAL'], errors='coerce').isnull()
mask

1          False
2          False
3          False
4          False
5          False
           ...
1728296    False
1728297    False
1728298    False
1728299    False
1728300    False
Name: VALOR_TOTAL, Length: 1724124, dtype: bool

In [14]:
#Removendo os NaN
dados = dados.dropna(subset=['VALOR_TOTAL'])

In [15]:
#Verificar se ainda há valores não númericos na coluna
print(dados['VALOR_TOTAL'].apply(lambda x : isinstance(x,(int, float))).all())

True

In [16]:
nao_numerico = dados.query('VALOR_TOTAL == "Quinta"')
nao_numerico

Empty DataFrame
Columns: [NROEMPRESA, COD_CLIENTE, TIPO_PESSOA, DATA_ULTIMA_COMPRA, NUMERO_VISITAS, VALOR_TOTAL, QUANTIDADE_PRODUTOS, SEGMENTO, CGO, MES_ANO]
Index: []

In [28]:
dados.dtypes

NROEMPRESA              int64
COD_CLIENTE             int64
DATA_ULTIMA_COMPRA     object
FREQUENCIA_VISITA       int64
VALOR_TOTAL             int64
MES_ANO                object
QUANTIDADE_PRODUTOS     int64
CGO                     int64
dtype: object

In [15]:
#dados['VALOR_TOTAL'] = dados['VALOR_TOTAL'].astype('int64')
#dados['COD_CLIENTE'] = dados['COD_CLIENTE'].astype('string')

In [17]:
dados.dtypes

NROEMPRESA              int64
COD_CLIENTE             int64
TIPO_PESSOA            object
DATA_ULTIMA_COMPRA     object
NUMERO_VISITAS          int64
VALOR_TOTAL             int64
QUANTIDADE_PRODUTOS     int64
SEGMENTO                int64
CGO                     int64
MES_ANO                object
dtype: object

In [18]:
#dados['VALOR_TOTAL'] = dados['VALOR_TOTAL'].astype('int64')
#dados['COD_CLIENTE'] = dados['COD_CLIENTE'].astype('string')
#dados['NROEMPRESA'] = dados['NROEMPRESA'].astype('string')

In [19]:
#dados.dtypes

NROEMPRESA                  string
COD_CLIENTE                 string
TIPO_PESSOA                 object
DATA_ULTIMA_COMPRA          object
DIAS_DESDE_ULTIMA_COMPRA     int64
NUMERO_VISITAS               int64
VALOR_TOTAL                  int64
DIA_SEMANA                  object
QUANTIDADE_PRODUTOS          int64
SEGMENTO                     int64
CGO                         object
MES_ANO                     object
dtype: object

In [20]:
#mask_cgo = pd.to_numeric(dados['CGO'], errors='coerce').isnull()
#mask_cgo

131072    False
131073    False
131074    False
131075    False
131076    False
          ...
196603    False
196604    False
196605    False
196606    False
196607    False
Name: CGO, Length: 65531, dtype: bool

In [21]:
#Removendo os NaN
#dados = dados.dropna(subset=['CGO'])

In [22]:
#Verificar se ainda há valores não númericos na coluna
#print(dados['CGO'].apply(lambda x : isinstance(x,(int, float))).all())

True

In [18]:
dados.to_csv('./CSV/clientes_jan2020_dez2023.csv')